<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="list-groups.css" rel="stylesheet">
  <!-- Where is list-groups.css? -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/images/mini-logo.svg" class="bi me-2" width="150" height="32" alt="">
        </a>

        <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul> -->

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/todos" method="GET">
          <input type="search" name="searchTerm" class="form-control form-control-dark text-bg-dark"
            placeholder="Search Todo List" aria-label="Search">
        </form>

        <div class="text-end">
          <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
        </div>

      </div>
    </div>
  </header>
  <div class="container text-muted">
    <div class="ripple-background">
      <div class="circle xxlarge shade1"></div>
      <div class="circle xlarge shade2"></div>
      <div class="circle large shade3"></div>
      <div class="circle mediun shade4"></div>
      <div class="circle small shade5"></div>
    </div>
    <section aria-labelledby="todos">
      <ul class="list-group w-auto">
        <!-- Here I have added conditionals to change the content of that span (which could probably be a header?) depending on the situation. -->

        <% if (isSearch && todos.length > 0) { %>
        <span class="text-center pb-3">Search results:</span>
        <% } else if (isSearch) { %>
        <span class="text-center pb-3">No matches found.</span>
        <% } else if (left > 0) { %>
        <span class="text-center pb-3"><%= user.userName %> has <%= left %> things left to do</span>
        <% } else { %>
        <span class="text-center pb-3"><%= user.userName %> has nothing to do.</span>
        <% }; %>
        <% todos.forEach( el=> { %> <li class='list-group-item d-flex gap-3 todoItem' data-id='<%=el._id%>'>
          <input type="image" class="<%= el.completed === true ? "check-completed" : "check-incomplete"%>"
            src="<%= el.completed === true ? "/images/check-square-fill.svg" : "/images/square.svg"%>"
            alt="<%= el.completed === true ? "Item uncompleted" : "Item completed"%>">
          <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
          <input type="image" class='edit' src="/images/pencil.svg" alt="Edit item" title="Edit item">
          <input type="image" class='update' src="/images/save.svg" alt="Save changes" hidden title="Save changes">
          <input type="image" class='del' src="/images/trash.svg" alt="Delete item" title="Delete item">
        </li>
        <% }) %>

        <!-- The conditional below checks to see if the page has been rendered as the result of a regular GET,  or as a GET related to a search request.
        If it's been rendered as a regular GET, it will display the "add a new item to the list" option.  
        If it's been rendered as a result of a search request, it will display a button that will re-render the todo list. -->

        <% if (isSearch) { %>
        <form action="/todos" method="GET">
          <button>Back to main list</button>
        </form>
        <% } else { %>
        <form action="/todos/createTodo" method='POST'>
          <label class="list-group-item d-flex gap-3 bg-light">

            <!-- Not sure why there was a disabled checkbox here but I found it confusing.  Can remove this comment in a future commit. -->
            <!-- <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0 pe-none" disabled=""
              type="checkbox" value="" style="font-size: 1.375em;"> -->

            <input id="add-todo" type="text" name='todoItem' class="bg-light border-0 pt-1 form-checked-content"
              placeholder="Add new note...">

          </label>
        </form>
        <% } %>
      </ul>

    </section>



  </div>

  <!-- footer  -->
  <div class="container">
    <footer class="py-3 my-4">
      <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul> -->
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
  <script src="js/main.js"></script>
</body>

</html>